@page "/counter"
@using SWMerchDataRepository.Models
@using SWMerchDataRepository.Contracts

@inject IRepositoryWrapper _repo 


    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <h3>Product Name: @productName</h3>
    <p>Product Price: @productPrice</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;
    private string productName = "";
    private double productPrice = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async void OnInitialized()
    {
        Product product = await _repo.Product.GetProductById(1);
        productName = product.ProductName;
        productPrice = product.Price;
    }

    private async Task setNameAndPrice()
    {
        Product product = await _repo.Product.GetProductById(1);
        productName = product.ProductName;
        productPrice = product.Price;
    }

    private void AddProduct()
    {
        Product newProduct = new Product()
        {
            ProductName = "ExampleProduct",
            Price = 25.00,
            ShortDesc = "An Example Product to Test if the Database works"
        };

        _repo.Product.Create(newProduct);
        _repo.Save();
    }
}
