<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6720057111548?$pdpL$&fmt=webp&qlt=70" alt="No Image Added"></div>
                <div class="col-md-6 mt-1">
                    <h5>@Product.ProductName</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0">@Product.ShortDesc<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$@Product.Price</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
    

@code {
    [Parameter]
    public Product Product { get; set; }
}
